@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#000;
  color:#fff;
}

input:focus,
button:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 0 0 5px rgb(2, 2, 2);
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('/fonts/RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('/fonts/RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
}

/* ... Similarly, add for other weights ... */

@font-face {
    font-family: 'RobotoSlab';
    src: url('/fonts/RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: 100; /* Thin */
    font-style: normal;
    font-display: swap;
}



.lr-stripe-bg {
  background: linear-gradient(
          45deg,
          #000 0%,
          #000 33.33%,
          #987654 33.33%,
          #987654 66.66%,
          #ffffff 66.66%,
          #ffffff 100%
  );
}

.rl-stripe-bg {
  background: linear-gradient(
          135deg,
          #000 0%,
          #000 33.33%,
          #987654 33.33%,
          #987654 66.66%,
          #ffffff 66.66%,
          #ffffff 100%
  );
}




.bg-darkGreen {
  background-color: #4d5d53;
}

.custom-bg {
  background-color: #000;
}


